// Tang Nano 20K: the 27 MHz clock and the four pairs of the HDMI socket.
IO_LOC  "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "tmds_clk_p" 33;
IO_PORT "tmds_clk_p" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC  "tmds_clk_n" 34;
IO_PORT "tmds_clk_n" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC  "tmds_d_p[0]" 35;
IO_PORT "tmds_d_p[0]" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC  "tmds_d_n[0]" 36;
IO_PORT "tmds_d_n[0]" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC  "tmds_d_p[1]" 37;
IO_PORT "tmds_d_p[1]" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC  "tmds_d_n[1]" 38;
IO_PORT "tmds_d_n[1]" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC  "tmds_d_p[2]" 39;
IO_PORT "tmds_d_p[2]" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC  "tmds_d_n[2]" 40;
IO_PORT "tmds_d_n[2]" IO_TYPE=LVDS25 PULL_MODE=NONE;
